:root {
    --blue:  #2E74B6;
    --indigo:  #6610f2;
    --purple:  #6f42c1;
    --pink:  #e83e8c;
    --red:  #dc3545;
    --orange:  #fd7e14;
    --yellow:  #ffc107;
    --green:  #28a745;
    --teal:  #20c997;
    --cyan:  #17a2b8;
    --white:  #fff;
    --gray:  #6c757d;
    --gray-dark:  #343a40;
    --primary:  #2e74b6;
    --secondary:  #6c757d;
    --success:  #28a745;
    --info:  #17a2b8;
    --warning:  #ffc107;
    --danger:  #dc3545;
    --light:  #f8f9fa;
    --dark:  #343a40;
    --breakpoint-xs:  0;
    --breakpoint-sm:  576px;
    --breakpoint-md:  768px;
    --breakpoint-lg:  992px;
    --breakpoint-xl:  1200px;
    --font-family-sans-serif:  -apple-system,  BlinkMacSystemFont,  "Segoe UI",  Roboto,  "Helvetica Neue",  Arial,  "Noto Sans",  sans-serif,  "Apple Color Emoji",  "Segoe UI Emoji",  "Segoe UI Symbol",  "Noto Color Emoji";
    --font-family-monospace:  SFMono-Regular,  Menlo,  Monaco,  Consolas,  "Liberation Mono",  "Courier New",  monospace;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0b0b09;
    text-align: left;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

section{
    padding: 50px 0;
    margin: 0 50px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%}
@media(max-width: 575.98px) {
    .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}@media(min-width: 576px) {
    .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-sm .navbar-nav {
    flex-direction: row;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand-sm .navbar-toggler {
    display: none;
}
}@media(max-width: 767.98px) {
    .navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}@media(min-width: 768px) {
    .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand-md .navbar-toggler {
    display: none;
}
}@media(max-width: 991.98px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}@media(min-width: 992px) {
    .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
}@media(max-width: 1199.98px) {
    .navbar-expand-xl>.container, .navbar-expand-xl>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}@media(min-width: 1200px) {
    .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand-xl .navbar-nav {
    flex-direction: row;
}
.navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-expand-xl>.container, .navbar-expand-xl>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand-xl .navbar-toggler {
    display: none;
}
}.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-expand>.container, .navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.navbar-expand .navbar-nav {
    flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-expand>.container, .navbar-expand>.container-fluid {
    flex-wrap: nowrap;
}
.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
.navbar-expand .navbar-toggler {
    display: none;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, .7);
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .3);
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml, %3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,  0,  0,  0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
    color: rgba(0, 0, 0, .5);
}
.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, .9);
}
.navbar-light .navbar-brand {
    color: #000;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .8);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, .75);
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .25);
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

.navbar-light .navbar-text {
    color: rgba(255, 255, 255, .5);
}
.navbar-light .navbar-text a {
    color: #fff;
}
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: #fff;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-left: 1rem;
}
.navbar-toggler {
    margin-right: 1rem;
}
.navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    background-color: #2e74b6;
}

.footer {
    background-color: #212529;
    padding: 3rem 0;
    text-align: center;
}
.footer_con {
    margin-bottom: .5rem;
}
.footer_con ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_con ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: 1px solid #2e74b6;
}
.footer_con ul li:first-child {
    border: none;
}
.footer_con ul li a {
    display: block;
    padding: 0 .5rem;
    text-decoration: none;
    color: #d3d3d3;
}

.footer_con ul li a:hover {
    color: #2E74B6;
}

.ftr_copyright {
    display: inline-block;
    margin-top: 1rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    border-top: 1px dotted #495057;
    color: #6c757d;
}
@-webkit-keyframes enq_btn {
    100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
}
}@keyframes enq_btn {
    100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
}
}.enq_btn {
    display: none;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;
    background-color: #2e74b6;
    font-size: 1.9rem;
    color: #fff;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-decoration: none;
    line-height: 65px;
    text-align: center;
}
.enq_btn:before {
    content: "";
    position: absolute;
    border: #2e74b6 solid 10px;
    border-radius: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    cursor: pointer;
}
.enq_btn:hover {
    text-decoration: none;
    color: #fff;
}
.enq_btn:hover:before {
    -webkit-animation-name: enq_btn;
    animation-name: enq_btn;
}
.dis_con {
    padding: 15% 0;
}
.dis_heading {
    font-size: 2rem;
}
.whatsapp {
    position: fixed;
    background-color: #075e54;
    padding: 13px;
    border-radius: 100%;
    left: calc(50% - 26px);
    bottom: 21px;
}
.thank {
    text-align: center;
    font-size: 1.5rem;
}
.thank-you {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.aside_btn {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #dcdcdc;
    padding: 1rem .9rem;
    padding-left: 142px;
}
.aside_btn ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.aside_btn ul li.xs_w-20 {
    margin-right: .8rem;
}
.aside_btn ul li.xs_w-40 {
    width: 100%}
.aside_btn ul li.xs_w-40 .btn {
    padding-left: .1rem;
    padding-right: .1rem;
}
@media(min-width: 961px) {
    .aside_btn {
    display: none !important;
}
}.display_popup {
    position: fixed;
    left: 132px;
    bottom: 72px;
    z-index: 1200;
    display: none;
}
.display_popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.display_popup ul li {
    list-style: none;
    margin-top: .5rem;
    padding: 0;
}
.display_popup ul li a {
    display: block;
    background-color: #2e74b6;
    padding: .3rem .5rem .5rem;
    border-radius: 50%;
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 4rem;
    height: 3.9rem;
}
@media(min-width: 768px) {
    .flr_list a img {
    height: 210px;
}
}@media(min-width: 961px) {
    .navbar {
    padding-right: 1rem;
}
}@media(min-width: 1024px) {
    .nav-link {
    padding-top: 1.33rem;
    padding-bottom: 1.33rem;
}
.bnr_sec img {
    height: 600px;
}
.bnr_sec:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, .6);
}
}@media(max-width: 960px) {
    .bnr_sec {
    margin-top: 65px;
}
.bnr_sec {
    height: auto;
}
.banner_info {
    margin-top: 1.5rem;
    color: #2e74b6;
    background-color: #fff;
}
.p_tit, .p_det {
    color: #2e74b6;
}
.p_det p {
    color: #231f20;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
.tit_tag {
    font-size: 1.2rem;
}
.p_det {
    margin-top: 3rem;
}
.enq_btn {
    display: none !important;
}
}@media(max-width: 600px) {
    .img-big {
    display: none !important;
}
.img-small {
    display: block;
}
.ameni_item {
    font-size: .9rem;
}
.p_det span {
    font-size: 1.1rem;
}
.callb_heading {
    font-size: 1.5rem;
}
.h4 {
    font-size: 1.2rem;
}
#map {
    height: 350px;
}
.dis_con {
    padding: 23% 0 10%}
.frm_heading {
    font-size: 1.2rem;
}
}.callb {
    padding: 3rem 0;
    text-align: center;
    background-color: rgba(14, 112, 114, .3);
}
.callb__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.callb__left__one {
    padding: 1rem 1rem 0;
    border-right: 1px solid #2e74b6;
}
.callb__left__two {
    padding: 1rem 1rem 0;
}
@media(max-width: 375px) {
    .callb .btn {
    font-size: .9rem;
    padding-left: .4rem;
    padding-right: .4rem;
}
}.schedule_con .modal-body {
    padding: 0;
}
.schedule_con .modal-header {
    border-bottom: none;
    padding: 0;
    position: relative;
}
.schedule_con .modal-header .close {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.schedule_con .sch_modal {
    background-color: #2e74b6;
    color: #fff;
    display: flex;
    height: 100%;
    padding: 1rem;
}
.schedule_con .sch_modal .sch_inner {
    color: rgba(255, 255, 255, .8);
    align-self: center;
}
.schedule_con .sch_modal .sch_inner .h4 {
    color: #fff;
}
.schedule_con .sch_inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.schedule_con .sch_inner ul li {
    padding-left: 1.5rem;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: rgba(255, 255, 255, .8);
}
.schedule_con .sch_inner ul li:before {
    font-family: symbol !important;
    content: "ꙑ";
    float: left;
    margin-left: -1.4rem;
}
.schedule_con .sch_form {
    padding: 1.5rem;
}
.schedule_con .sch_form_heading {
    font-size: 1.5rem;
}
.slider_area {
    position: relative;
}
.slider_area .slider-main .swiper-button-next, .slider_area .slider-main .swiper-button-prev {
    bottom: 0 !important;
    top: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 1.3rem;
    color: #2e74b6;
}
.slider_area .slider-main .swiper-button-next::after, .slider_area .slider-main .swiper-button-prev::after {
    font-size: 1.2rem;
    font-weight: 700;
}
.slider_area .slider-main.swiper-container {
    padding-bottom: 4rem;
}
.slider_area .slider-main.swiper-container .swiper-button-prev {
    right: 3rem;
    left: auto;
}
.slider_area .slider-main.swiper-container .swiper-button-next {
    right: 0;
}
.slider_area .swiper-slide .inner {
    background-color: #fff;
    display: flex;
}
.slider_area .swiper-slide .inner__left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
    padding: 1.5rem;
    width: 40%}
.slider_area .swiper-slide .inner__right {
    width: 60%}
.slider_area .swiper-slide .inner__right img {
    min-height: 500px;
    max-height: 500px;
    width: 100%}
@media(max-width: 991px) {
    .slider_area .swiper-slide .inner {
    flex-wrap: wrap;
}
.slider_area .swiper-slide .inner__left {
    width: 100%;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .5rem 1rem 0;
    border: rgba(14, 112, 114, .5) solid 1px;
}
.slider_area .swiper-slide .inner__right {
    width: 100%}
.slider_area .swiper-slide .inner__right img {
    min-height: 300px;
    max-height: 300px;
}
}.slider_area .counting {
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    left: 49%;
    bottom: .8rem;
}
.slider_area .counting .sta_img_value {
    color: #2e74b6;
}
@media(max-width: 991px) {
    .slider_area .counting {
    left: 0;
}
}.slider_area .swiper-pagination-progressbar {
    bottom: 0 !important;
    top: auto;
}
.slider_area .swiper-container-horizontal>.swiper-pagination-progressbar {
    top: auto;
    bottom: 48px;
}
.slider_area .swiper-container-horizontal>.swiper-pagination-progressbar {
    width: calc(50% - 11rem);
    height: 4px;
    left: 55%;
    top: 95%;
    background-color: rgba(206, 212, 218, .6);
}
@media(max-width: 991px) {
    .slider_area .swiper-container-horizontal>.swiper-pagination-progressbar {
    left: 4rem;
    width: calc(100% - 10rem);
}
}.slider_area .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    width: 100%;
    background-color: #2e74b6;
}
.slider_area .counter, .slider_area .counter span {
    position: relative;
}
.slider_area .counter .next, .slider_area .counter .count {
    position: absolute;
}
.slider_area .counter .next {
    transform: translateY(-12px);
    left: 0;
}
.gall_des p {
    text-align: justify;
}
#ftrForm .pol_con {
    overflow-y: hidden;
    margin-top: .5rem;
    position: relative;
}
#ftrForm .pol_con .our_pro {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted #2e74b6;
    height: 12px;
}
#ftrForm .pol_con .our_pro span {
    position: absolute;
    left: calc(50% - 65px);
    top: -5px;
    background-color: #fff;
    padding: .1rem 1rem;
    color: #2e74b6;
}
#ftrForm .pol_con ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#ftrForm .pol_con ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    display: block;
    width: calc(25% - 0px);
    text-align: center;
    color: #000;
    border-left: 1px solid rgba(14, 112, 114, .2);
}
#ftrForm .pol_con ul li:first-child {
    border-left: none;
}
#ftrForm .pol_con ul li i {
    display: block;
    font-size: 2rem;
    margin-bottom: .5rem;
}
#ftrForm .pol_con ul li span {
    font-size: .7rem;
    line-height: 100%;
    display: block;
}

/* Amenities */
.image{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url('../images/residential.jpg');
    transition: 0.7s;
  }
  
  .image:hover{
    transform: scale(1.1);
  }

  @media(max-width: 961px) {
    section{
        margin: 0 20px;
    }
  }

/*registration */

.register-btn button{
    width: 188px;
    height: 58px;
    font-size: 13px;
    font-weight: bold;
    color: #007bff;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    background-color: #ffffff;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}
.register-btn:hover span{
    position: relative;
    color: #ffffff;
}
.register-btn button:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2E74B6;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
    
}
.register-btn button:hover{
    background-color: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
}
.register-btn button span {
    position: relative;
    color: #ffffff;
}
.register-btn button:hover span {
    position: relative;
    color: #007bff;
}
.register-btn button:hover:before  {
    right: -100%;
}


/* registration-section */
.registration-form-section{
    padding:72px 0 25px;
}
.registration-form-inner{
    padding:35px 25px;
    background-color: #212529;
}

.registration-form-section h2,.newsletter-section h2{
    margin:0 0 15px;
    font-size: 32px;
    color: #fff;
    line-height: 1.3;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;

}
.registration-form-section .registration-form input,.newsletter-section .newsletter-form input{
    width: 100%;
    height: 58px;
    margin-bottom: 30px;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}


.registration-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    font-weight: 300;
    color: #aaaaaa;
}

form.registration-form {
    max-width: 50%;
    margin: 0 auto;
}
.registration-form input::-moz-placeholder { /* Firefox 19+ */
    font-size: 24px;
    font-weight: 300;
    color: #aaaaaa;
}
.registration-form input:-ms-input-placeholder { /* IE 10+ */
    font-size: 24px;
    font-weight: 300;
    color: #aaaaaa;
}
.registration-form input:-moz-placeholder { /* Firefox 18- */
    font-size: 24px;
    font-weight: 300;
    color: #aaaaaa;
}
.registration-form-section .registration-form .register-btn{
    text-align: center;
}

/* tokenomics */

.rate{
    color: #2E74B6;
}

.testi-card{
    width: 100%;
    background: #fdfdfd;
    margin-bottom: 20px;
}

.testi-para{
    font-size: 22px;
    font-weight: 500;
}

.testi-image{
    width: 100px;
    height: auto;
    margin-top: -10px;
}

.testi-main{
    padding: 0 5px 0 20px;
}

@media(max-width: 767px) {
    form.registration-form {
        max-width: 100%;
    }

    .testi-para{
        font-size: 18px;
    }

}